*{
	font-family: sans-serif;
	box-sizing: border-box;
}

h1,h2{
	font-family: "Oleo Script", system-ui;
}

p{
	font-family: "Crimson Text", serif;
}

#wrapper{
	margin-left: auto;
    margin-right: auto;
   
}

#header{
	background: url("../images/large-screen-banner.png") no-repeat center center/cover;
	display: block;	
}


.overlay{
	background-color: rgba(0,0,0,0.6);
	padding: 300px;
	position: relative;
	display: block;

}

.overlayItems{
	display: flex;
	justify-content: space-between;
}


#logo >img{
	position: absolute;
	width: 200px;
	top: 30px;
	left: 80px;
	display: block;
}

#overlayContent{
	color: #fff;
	position: absolute;
	top: 300px;
	right: 450px;
	display: block;
	
}


#navigation{
  text-decoration: none;
  position: absolute;
  top: 50px;
  right: 80px;
  display: block;
  font-family: "Bebas Neue", sans-serif;
}


#navBtn{
	background:#E3EAE9;
	color: #000;
	padding: 10px 20px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 40px;
	right: 80px;
	display: none;

}

.nav{
  color: #fff;
  padding: 10px 12px;
  text-decoration: none;
  border-style: none;
  font-family: arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
}





#menu{
	background: #AFAEAE;
	padding: 20px 0px;
}

.section-title{
	text-align: center;
	font-size: 14px;
}

.column-content{
	margin: 0px 5px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.image-container >img{
	width: 100%;
	height: auto;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#comment{
	background: #6D6868;
	padding: 40px 0px;
	color: #fff;

}

.section-title >h2{
	margin: 10px 0px;
	font-size: 30px;
	display: block;

}
.image-container2 > img{
	width:auto;
	height: 150px;
	display: block;
	border-radius: 50%;
}

.column-content2{
	background-color: #F7F2F2;
	padding: 5px 15px;
	color: #000;

}


.content-info{
	padding: 15px;
	background: #fff;
	margin-top: -5px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.content-info2{
	padding: 15px;
}

.content-info2 h2{
	padding-bottom: 10px;
}


.content-info > h2{
	font-size: 20px;
}

.content-info > h2,
.content-info > p{
	margin-bottom: 10px;
}

.content-info >p{
	font-size: 16px;
}


.content-prize{
	display: flex;
	justify-content: space-between;
}

.content-prize >span,
.content-prize >p{
	margin-top: 10px;
}

.content-prize >span{
	color: #0E9330;
	font-weight: bold;
}

.content-prize >p{
	color: #fff;
	background: red;
	padding: 10px;
	border-radius: 5px;
}


footer{
	padding: 30px 0px;
	color: #fff;
	background: #000;
	text-align: center;
}

@media only screen and (max-width: 600px){


#header{
	background: url("../images/large-screen-banner.png") no-repeat center center/cover;	
	display: none;
}

#header{
	background: url("../images/mobile-banner.jpg") no-repeat center center/cover;
	display: block;	
}

#navigation{
  text-decoration: none;
  position: absolute;
  top: 50px;
  right: 80px;
  display: none;
}


#navBtn{
	background:#E3EAE9;
	color: #000;
	padding: 10px 20px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 30px;
	right: 30px;
	display: block;

}


#logo >img{
	position: absolute;
	width: 180px;
	top: 20px;
	left: 20px;
	display: block;
}
.overlay{
	background-color: rgba(0,0,0,0.6);
	padding: 200px;
	position: relative;
	display: block;

}

#overlayContent{
	color: #fff;
	position: absolute;
	top: 170px;
	right: 70px;
	font-size: 14px;
	display: block;
	
}
.section-title >h2{
	margin: 10px 0px;
	font-size: 24px;
	display: block;

}

}

@media only screen and (min-width: 600px) and (max-width:768px) {
	#logo >img{
	position: absolute;
	width: 180px;
	top: 20px;
	left: 10px;
	display: block;
}


#navigation{
  text-decoration: none;
  position: absolute;
  top: 50px;
  right: 80px;
  display: none;
}

#navBtn{
	background:#E3EAE9;
	color: #000;
	padding: 10px 20px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 30px;
	right: 10px;
	display: block;

}

#overlayContent{
	width: 50%
	color: #fff;
	position: absolute;
	top: 280px;
	right: 100px;
	font-size: 16px;
	display: block;
	
}

}
@media only screen and (min-width:768px) and (max-width:992px) {
	#logo >img{
	position: absolute;
	width: 180px;
	top: 20px;
	left: 5px;
	display: block;
}


#navigation{
  text-decoration: none;
  position: absolute;
  top: 40px;
  right: 10px;
  display: block;
}

#navBtn{
	background:#E3EAE9;
	color: #000;
	padding: 10px 20px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 30px;
	right: 10px;
	display: none;

}

#overlayContent{
	width: 50%
	color: #fff;
	position: absolute;
	top: 300px;
	right: 270px;
	font-size: 16px;
	display: block;
	
}

}

